/*---Estilos generales---*/

body {

  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to left, #a3712a, #e6b774); /* Horizontal */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

    
}


main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px, solid, #a3712a;
}


/*-----------Estilo de la página perfil----------*/



.bloq-1 {

  
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

/*--------------Estilos de la sección datos personales-----------------*/


#user-dates {

  
  border: 2px, solid, #a3712a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 50%;

}

#user-dates img {

  
  border: 2px, solid, #a3712a;
  float: left;
  width: 40%;
  margin-right: 5px;
  
  
  
}


#user-info p {

  text-align: left;
  display: block;
  font-style: italic;
  font-size: 0.8em;
  margin-top: -5px;
  
  
}

.user-email {

  color: #a3712a;
  text-decoration: underline;
  font-weight: bold;
}

.user-editar {

  display: flex;
  border: 2px, solid, #a3712a;
  background: #e6b774;
  color: #a3712a;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  cursor: pointer;


}

.user-editar:hover {

  background: #a3712a;
  color: #e6b774;

}


/*---------------------------------------------------------*/

/*-------------Estilos de la sección mensajes--------------*/



#user-msn {

  
  border: 2px, solid, #a3712a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 50%;
  

}


.msn-names {

  color:#a3712a;
  border: 2px, solid, #a3712a;
  cursor: pointer;
}

.msn-names:hover {

  background: #a3712a;
  color: #e6b774;
}

.msn-text {

  font-size: 10px;
  font-style: italic;
  margin-top: -20px;


}

/*---------------------------------------------------------*/

/*------Estilos de la sección calendario--------------------*/


.calendar-tittle {

  color:#e6b774;
  margin-bottom: 8px;

}

#user-calendar {

  border: 2px, solid, #a3712a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 20%;

}


#user-calendar th,
#user-calendar td {

  border: 1px, solid, #e6b774;
  padding: 5px;
  font-size: 8px;
}




/*---------------------Estilos del bloque 2------------------------------------*/

.bloq-2 {

  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#user-chat {

  border: 2px, solid, #a3712a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 40%;
  

}

#user-contacts {

  border: 2px, solid, #a3712a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 20%;
  

}












